.date-picker {
  color: #425a70;
  height: 45px;
}

.date-picker .react-date-picker__wrapper {
  border: none;
  background-color: white;
  border: black 1px solid;
  border-radius: 8px;
  padding: 10px;
}

.date-picker .react-date-picker__wrapper *,
.react-calendar * {
  font-size: 18px;
  color: black;
}

.react-calendar {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile--now,
.react-calendar__tile--now:hover {
  background: #e5e5e5 !important;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover,
.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:hover {
  background: #3e73ff !important;
}

.react-calendar__tile--active abbr,
.react-calendar__tile--hasActive {
  color: white !important;
}

.react-calendar__navigation__label {
  font-size: 16px;
  font-weight: 600;
}

.react-date-picker__inputGroup__input:focus {
  border: none;
  outline: none;
}
.react-calendar {
  border: black 1px solid;
  margin-top: 8px;
}
