/* TODO: replace with Helvetica Neue */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: #e5e5e5;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol {
  list-style: none;
  counter-reset: aCounter;
  padding-left: 12px;
}
ol li {
  counter-increment: aCounter;
  display: flex;
  padding-bottom: 4px;
}
ol li::before {
  display: flex;
  content: counter(aCounter) '.';
  font-size: 14px;
  line-height: 20px;
  flex-basis: 24px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding-right: 12px;
}

.App {
  width: 100%;
}
